/* START RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

/* GLOBAL STYLES*/
html {
  box-shadow: 0 0 0 30px #f8f9fa inset;
  padding: 0 30px;
}
body {
  font-family: helvetica, arial, sans;
}

/* HEADER STYLES */
.header {
  background-color: #f8f9fa;
  position: fixed;
  width: 100%;
  z-index: 20;
}
.header-logo {
  box-sizing: border-box;
  display: block;
  height: 10vh;
  left: -15px;
  padding-top: 10px;
  position: relative;
  text-align: center;
  width: 10vh;
}
.header-logo img{
  width: 7vh;
}
.header-nav {
  float: right;
  padding: 5.5vh 60px 0 0;
}
.header-nav > li {
  display: inline-block;
  margin-left: 1em;
}
.header-nav > li ~ li {
  padding-left: 1em;
}
.nav-links a {
  color: #000;
  font-size: 0.8em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-links a:hover,
.nav-link a:active {
  color: #6c757d;
}
.header-nav > li:first-child a {
  color: #6c757d;
}
.header-nav > li:first-child a:hover {
  color: #6c757d;
}

/* FOOTER STYLES */
.footer {
  background-color: #f8f9fa;
  padding: 10vh 0 15vh;
  text-align: center;
}
.footer-logo img {
  width: 50px;
}
.footer h3 {
  color: #000;
  padding-top: 1.5em;
}
.footer-nav li {
  display: inline-block;
  margin: 2em 1em 0;
}

/* HERO STYLES */
.full-hero {
  background-size: cover;
  box-sizing: border-box;
  height: 100vh;
  padding-top: 10vh;
}
.full-hero:after {
  bottom: 2vh;
  border: 10px solid;
  border-color: #fff transparent transparent;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 0;
}
.hero-home {
  background-image: url(/images/vineyard.jpg);
}
.hero-content {
  color: #fff;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
}
.hero-content h1 {
  color: rgba(255,255,255, 0.85);
  font-size: 4vw;
  margin-bottom: 0.5em;
}
.hero-content h3 {
  color: rgba(255,255,255, 0.8);
  font-size: 2.5vw;
  font-weight: 200;
  margin-bottom: 0.5em;
}

/* ABOUT STYLES */
.about-section {
  background-color: rgba(119, 136, 153, 0.3);
  color: #6c757d;
  padding: 7vh 30px;
}
.about-title {
  font-size: 2em;
  text-align: left;
  font-weight: 200;
  padding-bottom: 30px;
}
.about-copy {
  font-size: 1em;
}
.about-copy > p ~ p {
  margin-top: 20px;
}
